Welcome to the patient directory.

<div>
Click here to add new patient info
<%= link_to 'Add new patient', new_patient_path %>
</div>


<h2>Patients List</h2>
Search: <input type="text" ng-model="search_name">

<div ng-init="patients_list = <%= @patients.to_json %>">
  <ol>  
    <li ng-repeat="p in patients_list | filter: search_name">
    {{p.first_name}} {{p.last_name}}
    </li>
  </ol>
</div>
